**/*.log
**/*#
**/roostats*
src/**/*.png
src/**/*.pdf
src/**/*.eps
**/*~
**/*root
!src/*root
output/*.pdf
output/*.txt
!output/notUsefulTextFile.txt
output/*.png
output/*.root
**/*exe
**/*stdout
**/*stderr
**/*condor
**/*tar
**/*dag*
**/*pyc
src/*/
!src/evtCount
**/*.d
**/*.so
**/*.pcm
plots/*
bin/*
!data/PileupHistograms_0121_69p2mb_pm4p6.root
datacards/*
!datacards/*.py
!datacards/*emplate*.txt
scripts/ALPHABET
scripts/cutflow
scripts/cutflowFromNtuples